{% extends 'base_user.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'axp/css/order_inquiry.css' %}">
{% endblock %}

{% block content %}
    <table class="table table-striped table-hover table-bordered">
    {% for order_list in pending_payment_order_list %}

        <tr>
            <th colspan="2" class="order_th">
                <a href="{% url 'index:pay' %}?order_num={{ order_list.0 }}">订单</a>
            </th>
        </tr>

        {% for order in order_list.1 %}
            <tr>
                <td>{{ order.productlongname }}</td>
                <td >￥{{ order.price }}</td>
            </tr>
        {% endfor %}

        <tr>
            <td>总计</td>
            <td >￥{{ order_list.2 }}</td>
        </tr>
    {% endfor %}


    </table>



{% endblock %}