amqp==2.3.2
asn1crypto==0.24.0
billiard==3.5.0.4
celery==4.2.0
cffi==1.11.5
cryptography==2.2.2
Django==1.11.7
django-debug-toolbar==1.9.1
django-redis==4.9.0
django-redis-cache==1.7.1
idna==2.7
kombu==4.2.1
Pillow==5.2.0
pycparser==2.18
PyMySQL==0.9.1
pytz==2018.5
redis==2.10.6
six==1.11.0
sqlparse==0.2.4
vine==1.1.4
