{% extends 'base.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'axp/css/main.css' %}">
{% endblock %}

{% block header %}
    <header>
            建议用手机访问本页面
    </header>
{% endblock %}

{% block footer %}
    <footer>
        <a href="{% url 'index:home' %}" class="home">
            <dl>
                <dt>
                    <span></span>
                </dt>
                <dd>首页</dd>
            </dl>
        </a>
        <a href="{% url 'index:market' 0 0 0 %}" class="market">
                <dl>
                    <dt>
                        <span></span>
                    </dt>
                    <dd>超市</dd>
                </dl>
            </a>
        <a href="{% url 'index:cart' %}" class="cart">
                <dl>
                    <dt>
                        <span></span>
                    </dt>
                    <dd>购物车</dd>
                </dl>
            </a>
            <a href="{% url 'index:mine' %}" class="mine">
                        <dl>
                            <dt>
                                <span></span>
                            </dt>
                            <dd>我的</dd>
                        </dl>
                    </a>
        </footer>

{% endblock %}