footer .mine span {
    background: url(/static/img/mine_select.png) no-repeat;
    background-size: 0.513889rem;
}

footer .mine dd {
    color: orange;
}

#mine {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: +10;
    background: whitesmoke;
    overflow: hidden;
    padding-top: 4rem;
    padding-bottom: 1.5rem;
}


.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    background: pink;
    padding-top: 0.5rem;
}

.fixed > span {
    display: block;
    width: 2rem;
    height: 2rem;
    float: left;
    margin: 0 0.3rem 0;
    font-size: 1.5rem;
    color: black;
    background: -moz-mac-accentdarkshadow;
    text-align: center;
    line-height: 1.8rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;

}

.fixed > span > span img{
    width: 100%;
    display: block;
    z-index: 0;
    margin: -0.3rem auto;
}

.fixed p {
    margin-bottom: 0.5rem;
    font-size: 0.5rem;
    color: white;
}

.fixed p a{
    font-size: 0.5rem;
    color: white
}


.fixed p span:first-child {
    color: black;
}

.fixed p span:last-child {
    color: red;
    display: inline-block;
    text-indent: 0.3rem;
}
/*.fixed p span a{*/
/*    line-height: 1rem;*/
/*}*/

.fixed p:last-child {
    background: #f0e000;
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0;
    margin-bottom: 0;
    font-size: 0.4rem;
    line-height: 0.5rem;
    height: 1rem;
}

.fixed p:last-child span {
    line-height: 1rem;
    margin: 0 -0.1rem;
}

.fixed p:last-child span:first-child {
    color: red;
    /*line-height: 1.2rem;*/
    /*margin-top: 0.1rem;*/
}

.fixed p:last-child span:last-child {
    color: white;
}

#regis {
    position: absolute;
    right: 0.3rem;
    top: 1.3rem;
    color: white;
    font-size: 1rem;
}

.mine_d {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 1.5rem;
    font-size: 0.4rem;
}

.mine_d .more {
    line-height: 1.5rem;
    padding: 0 0.3rem;
    background: white;
    border-bottom: 0.04rem solid lightyellow;
    /*text-align: justify;*/
    /*text-align-all: justify;*/
}
.mine_d .more a{
    /*width: 2rem;*/
    color: grey;
}

.mine_d .more a:last-child {
    float: right;
}


.mine_d #nav, .mine_d .menu {
    padding: 0.5rem 0 0.3rem;
    margin-bottom: 0.4rem;
    background: white;
}

.mine_d #nav ul, .mine_d .menu ul {
    display: flex;
    justify-content: space-around;
}

.mine_d #nav ul li dl, .mine_d .menu ul li dl {
    text-align: center;
}

.mine_d #nav ul li dl dt, .mine_d .menu ul li dl dt {
    width: 100%;
    line-height: 1rem;
}

.mine_d #nav ul li dl dt span, .mine_d .menu ul li dl dt span {
    font-size: 0.5rem;
    width: 100%;
}

.mine_d #nav ul li dl dt span:last-child, .mine_d .menu ul li dl dt span:last-child{
    font-weight: normal;
}

.mine_d .menu ul {
    flex-wrap: wrap;
}

.mine_d .menu ul li {
    width: 25%;
}

.mine_d .menu ul li:last-child {
    width: 100%;
}

.mine_d .menu ul li:last-child dl {
    width: 25%;
}

.mine_d p:last-child > a {
    line-height: 1.5rem;
    text-align: center;
    width: 100%;
    display: block;
    float: none;
    background-color: white;
    color: gray;
}
